@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

.App {
  min-height: 100vh;
  display: flex;
}

/* .container {
  display: flex;
} */

/* .left-component, .right-component {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
} */


/* base styles
/* base styles */
/* * {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
} */